<header>
    <div><a href="/">WDE</a></div>
    <nav>
        <ul>
            <% if(locals.isAuth) { %>
            <li><button>logout</button></li>
            <% } %>
        </ul>
    </nav>
</header>